<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JetBrains.Annotations" version="2020.1.0" targetFramework="net48" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.3" targetFramework="net48" />
  <package id="ModPlus.AutoCAD.API.2020" version="1.0.0" targetFramework="net48" />
  <package id="ModPlus.AutoCAD.Module.2020" version="6.4.4" targetFramework="net48" />
  <package id="ModPlus.ProductDatabase" version="2.6.2" targetFramework="net48" />
  <package id="ModPlusAPI" version="7.10.1" targetFramework="net48" />
  <package id="ModPlusStyle" version="4.1.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
</packages>